
extends layout

block prepend title
  | #{ page.title } -

block content
  include author
  h2= page.title
  p
    | by&nbsp
    mixin author(page.metadata.author)

  article.post
    section.content!= page.html

  a.hn-share-button(href='http://news.ycombinator.com/submit') Discuss on Hacker News
  br
  a.back(href='/') << back to index

